<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diome</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    <div class="container">

        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Biografia</a></li>
                    <li><a href="canciones.html">Canciones</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <img src="../img/biografia_diome.jpg" alt="">
            <div class="main_principal">
                <h3>Biografia de Diomedes Diaz</h3>
                <p>Diomedes Díaz, conocido como “El Cacique de La Junta”, nació el 26 de mayo de 1957 en La Junta, un pequeño pueblo del Caribe colombiano. Desde muy joven mostró interés por la música vallenata, influenciado por las tradiciones musicales de su región. Durante su juventud trabajó en distintos oficios mientras comenzaba a cantar y a componer canciones inspiradas en su vida y en las historias de su tierra.

Su carrera musical comenzó a consolidarse en la década de 1970 cuando empezó a grabar discos junto a importantes acordeoneros del vallenato, como Colacho Mendoza y posteriormente Juancho Rois. Gracias a su voz particular, su estilo auténtico y sus letras emotivas, rápidamente se convirtió en uno de los artistas más populares del vallenato en Colombia. Durante su trayectoria grabó decenas de álbumes y canciones que se volvieron clásicos del género.

A lo largo de su vida, Diomedes Díaz también enfrentó diversas controversias y problemas personales, pero su impacto en la música fue tan grande que logró mantener una enorme base de seguidores. Falleció el 22 de diciembre de 2013 en Valledupar, dejando un legado musical muy importante y siendo recordado como uno de los máximos exponentes del vallenato colombiano.</p>
            </div>
        </main>
    </div>
</body>
</html>