<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diome</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    <div class="container">

        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../diomedez.html">Inicio</a></li>
                    <li><a href="biografia.html">Biografia</a></li>
                    <li><a href="#">Canciones</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
           
            <div class="canciones">
              
                <ul>
                    <h3>Canciones de Diomedes Diaz</h3>
                    <video src="../videos/canciones_diome_laenvidia.mp4" controls width="30%" autoplay></video>
                    <li>Oye Bonita</li>
                    <li>Bonita</li>
                    <li>Sin Medir Distancias</li>
                    <li>La Ventana Marroncita</li>
                    <li>Mi Primera Cana</li>
                    <li>Tu Serenata</li>
                    <li>Tres Canciones</li>
                    <li>Listo Pa' la Foto</li>
                    <li>El Cóndor Herido</li>
                    <li>Amarte Más No Pude</li>
                </ul>
             </div>
        </main>
    </div>
</body>
</html>